	/*
			Primary color: #d81b60;
			Primary darker color: #880e4f;

			Sidebar width: 250px;

			Padding across the site: 30px; ( smaller padding will be 15px or 10px)
        */
html,body {
    font-size:62.5%;
}

* {
    box-sizing: border-box;
}

body {
    padding:0; 
    margin:0;
    background-color:#EEEEEE;
    font-family:"Arial"

}

h1 {
    padding:0; 
    margin:0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.m-article {
    background-color:#fff;
    padding:3rem;
}

.m-content-container__header {
    background-color:#d81b60;
    color:#FFFFFF;
    padding:3rem;
    justify-content: space-between;

}

.m-content-container__main {
    background-color:#FFFFFF;
    padding:3rem 0 3rem 3rem;
}

    /* 25/75 layout */
.m-content-container__main > .m-section {
    width:75%;
    transform: translateY(-9rem);
}

.m-content-container__main > .m-figure {
    border-radius: 50%;
    height: 35rem;
    background-color: #eeee;
    overflow: hidden;
    /* box-shadow: #bfbfbf; */
    box-shadow: 0px 10px  0px #bfbfbf;
    -moz-box-shadow: 0px 10px  0px  #bfbfbf;
    -webkit-box-shadow: 0px 10px 0px  #bfbfbf;
    -o-box-shadow: 0px 10px 0px  #bfbfbf;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-left:1.5rem;

}

.m-content-container__footer{
    background-color:#333333;
    color:#FFFFFF;
    padding:3rem;
    justify-content: space-between;
    align-items:center;
}

.l-wrapper {
    max-width:120.0rem;
    margin:0 auto;
    display:flex;
}

.m-logo {
    width:30%;
}

.m-figure {
    margin:0;
}

.m-image__profile {
    width:90%;
}

/* typography */
.m-text {
    font-size:2rem;
}

.m-title {
    font-size:3rem;
}

.m-title__grid {
    font-size:2.5rem;
    margin-left:3rem;
}

/* nav stylings */
.m-nav-list {
    display:flex;
    margin:0 auto;
}

.m-nav-list-item {
    list-style:none;
    padding-left:2rem;
    position:relative;

}

.l-header .m-nav-link:hover,
.l-header .m-nav-link:focus {
    color:#333333;
    transition:0.2s all linear;
}   

.l-footer .m-nav-link:hover,
.l-footer .m-nav-link:focus {
    color:#d81b60;
    transition:0.2s all linear;
}

/* grid stylings */

.m-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    column-gap:1.5rem;
    row-gap:1.5rem;
    margin-left:3rem;
    margin-right:3rem;
}

.m-grid-item > * {
    width :100%;
    display:block;
}
